<div class="row mb-3">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <span>Kullanıcı URL Listesi</span>
            </div>
            <div class="col-6 text-align-right">
                <a href="@Url.Action("Add","UrlShort")" class="add-button">Url Ekle</a>
            </div>
        </div>
    </div>
</div>
<kendo-grid name="Grid">
    <datasource type="DataSourceTagHelperType.Ajax" page-size="15">
        <transport>
            <read url="@Url.Action("ListDs", "UrlShort")" />
            <update url="@Url.Action("Update", "UrlShort")" />
            <create url="@Url.Action("Add", "UrlShort")" />
            <destroy url="@Url.Action("Delete", "UrlShort")" />
        </transport>
    </datasource>
    <columns>
        <column field="Id">
            <groupable enabled="false" />
        </column>
        <column field="UserName" title="Kullanıcı Adı" />      
        <column field="Url" title="Url" />
        <column field="ShortUrl" title="Kısa Url" />
        <column field="Description" title="Açıklama" />
        <column width="40">
            <commands>
                <column-command text="Detay" name="detail" click="onDetailClick" template="#=detailtemplate(data)#"></column-command>
            </commands>
        </column>
        <column width="40">
            <commands>
                <column-command text="Güncelle" name="edit" click="onEditClick" template="#=edittemplate(data)#"></column-command>

            </commands>
        </column>
        <column width="40">
            <commands>
                <column-command text="Sil" name="delete" click="onDeleteClick" template="#=deletetemplate(data)#"></column-command>
            </commands>
        </column>
    </columns>

    <pageable enabled="true" />
    <sortable enabled="true" />
    <filterable enabled="true" />
    <scrollable enabled="true" />
    <groupable enabled="true" />
</kendo-grid>
