<div class="row mb-3">
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <span>Rol Listesi</span>
            </div>
            <div class="col-6 text-align-right">
                <a href="@Url.Action("Add","Role")" class="add-button">Kullanıcı Ekle</a>
            </div>
        </div>
    </div>
</div>
<kendo-grid name="Grid">
    <datasource type="DataSourceTagHelperType.Ajax" page-size="15">
        <transport>
            <read url="@Url.Action("ListDs", "Role")" />
            <update url="@Url.Action("Update", "Role")" />
            <create url="@Url.Action("Add", "Role")" />
            <destroy url="@Url.Action("Delete", "Role")" />
        </transport>
    </datasource>
    <columns>
        <column field="Id">
            <groupable enabled="false" />
        </column>
        <column field="Name" title="Rol Adı" />
        <column width="100">
            <commands>
                <column-command text="Detay" name="details" click="onDetailClick"></column-command>
            </commands>
        </column>
        <column width="100">
            <commands>
                <column-command text="Güncelle" name="edt" click="onEditClick"></column-command>
            </commands>
        </column>
        <column width="100">
            <commands>
                <column-command text="Sil" name="delete" click="onDeleteClick"></column-command>
            </commands>
        </column>
    </columns>

    <pageable enabled="true" />
    <sortable enabled="true" />
    <filterable enabled="true" />
    <scrollable enabled="true" />
    <groupable enabled="true" />
</kendo-grid>
