<div class="row">
    <div class="col-12">
        <div class="col-6"></div>
        <div class="col-6">
            <a href="@Url.Action("Add","User")" class="add-button">Kullanıcı Ekle</a>
        </div>
    </div>
</div>
<kendo-grid name="Grid">
    <datasource type="DataSourceTagHelperType.Ajax" page-size="15">
        <transport>
            <read url="@Url.Action("ListDs", "User")" />
            <update url="@Url.Action("Update", "User")" />
            <create url="@Url.Action("Add", "User")" />
            <destroy url="@Url.Action("Delete", "User")" />           
        </transport>
    </datasource>
    <columns>
        <column field="Id">
            <groupable enabled="false" />
        </column>
        <column field="FirstName" />
        <column field="LastName" />
        <column field="Email" />
        <column width="40">
            <commands>
                <column-command click="onDetailClick" template='<a class="detail"><i class=" k-icon k-i-align-center"></i></a> '></column-command>
            </commands>
        </column>
        <column width="40">
            <commands>
                <column-command click="onEditClick" template='<a class="edit"><i class="k-icon k-i-pencil"></i></a>'></column-command>
            </commands>
        </column>
        <column width="40">
            <commands>
                <column-command click="onDeleteClick" template='<a class="delete"><i class="k-icon k-i-trash"></i></a>'></column-command>
            </commands>
        </column>
    </columns>

    <pageable enabled="true" />
    <sortable enabled="true" />
    <filterable enabled="true" />
    <scrollable enabled="true" />
    <groupable enabled="true" />
</kendo-grid>
